<application-config xmlns="aurora.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTemplate="default" defaultTitle="汉得SRM云平台" defaultTheme="default" defaultAutoAppend="true" defaultAutoCount="false" resourceCacheName="SystemResourceConfig" />
</application-config>