<?xml version="1.0" encoding="UTF-8"?>

<msg:Aurora-client-instance xmlns:msg="aurora.application.features.msg" >

	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
			<msg:DefaultMessageHandler name="addExpiredSession" procedure="init.add_expired_session"/>
			<msg:DefaultMessageHandler name="removeExpiredSession" procedure="init.remove_expired_session"/>
	    </messageHandlers>
		
	    <consumers>
	        <msg:consumer topic="application_foundation">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
					<msg:event handler="addExpiredSession" message="addExpiredSession"/>
					<msg:event handler="removeExpiredSession" message="removeExpiredSession"/>
	            </events>
	        </msg:consumer>
			<msg:DefaultNoticeConsumer topic="dml_event"/>
			<msg:DefaultNoticeConsumer topic="task"/>
	    </consumers>
		
</msg:Aurora-client-instance>

<!--
<amq:AMQ-client-instance xmlns:msg="aurora.application.features.msg" xmlns:jms="aurora.plugin.jms" xmlns:amq="aurora.plugin.amq" url="failover:(tcp://127.0.0.1:61616)">
	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
	    </messageHandlers>
		
	    <consumers>
	        <jms:consumer topic="application_foundation">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
	            </events>
	        </jms:consumer>
			<jms:DefaultNoticeConsumer topic="dml_event"/>
			<jms:DefaultNoticeConsumer topic="task"/>
	    </consumers>
		
</amq:AMQ-client-instance>
-->
<!--
<aq:Oracle-AQ-client-instance xmlns:msg="aurora.application.features.msg" xmlns:aq="aurora.plugin.oracle.aq">

	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
	    </messageHandlers>
		
	    <consumers>
	        <aq:consumer topic="application_foundation" client="agent_a">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
	            </events>
	        </aq:consumer>
			<aq:DefaultNoticeConsumer topic="dml_event" client="agent_a"/>
	    </consumers>
		
</aq:Oracle-AQ-client-instance>
-->
